doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', type='text/css', href='css/main.min.css')
    title Title
  body
    #page.page.flex.fd-c.jc-sb
      include ../includes/_header

      block main

      include ../includes/_footer

    include ../includes/_hidden