doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', type='text/css', href='css/main.min.css')
    title Title
  body
    .body-wrapper
      include ../includes/_hidden
      .cursor-wrap
        span.cursor.cursor-dot(data-ref="dot")
        span.cursor.cursor-dot-bg(data-ref="dotBg")
      .flex.fd-c.ai-c.jc-c.wrapper
        block content


