extends ../includes/_layout

block content
  - var isFooterBorder = true;
  include ../includes/_header

  block main
    main.center
      .p-blog
        .container
          .breadcrumbs
            ul.breadcrumbs__list.flex.jc-fs.fw-w.ai-s
              li
                a.nuxt-link-active(href='/') ART MARKS
              li
                | Блог
          .p-services__top
            .caption.caption--left.caption--big.caption--services--visible
              .caption__inner.above-viewport(data-in-viewport='i37')
                p.caption__main БЛОГ
                //
                //
            .p-blog__filter.flex.fw-w.jc-sb.ai-fe.above-viewport(data-in-viewport='i38')
              .select.p-blog__select
                select
                  option(selected disabled) Выберите рубрику
                  option Маркетинг
                  option SMM
                  option SEO
              .search.p-blog__search
                .search-inner
                  .form-input
                    .form-input__inner
                      //
                      input(placeholder='Поиск по статьям', required='required', name='usersearch', type='text')
                      i.form-input__line
                      i.input-icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                          path(d='M495 466.2L377.2 348.4c29.2-35.6 46.8-81.2 46.8-130.9C424 103.5 331.5 11 217.5 11 103.4 11 11 103.5 11 217.5S103.4 424 217.5 424c49.7 0 95.2-17.5 130.8-46.7L466.1 495c8 8 20.9 8 28.9 0 8-7.9 8-20.9 0-28.8zm-277.5-83.3C126.2 382.9 52 308.7 52 217.5S126.2 52 217.5 52C308.7 52 383 126.3 383 217.5s-74.3 165.4-165.5 165.4z')
                    span.form-message
          .p-blog__items.flex.fw-w.ai-s.jc-fs
            .blog__item.p-blog__item.above-viewport(data-in-viewport='i39')
              a.p-blog__item-img(href='/blog/5types')
                img(data-tilt data-tilt-max="3" data-tilt-perspective="1200" data-tilt-speed="200" src='/img/blog-item.jpg', alt='')
              .p-blog__item-tags.flex.fw-w.jc-fs.ai-s
                .tag.flex.ai-c.jc-c.blog-tag(data-val='smm')
                  p.tag-title SMM
                .tag.flex.ai-c.jc-c.blog-tag(data-val='marketing')
                  p.tag-title Маркетинг
              .p-blog__item-info
                .p-blog__item-date 21.12.2018
                .p-blog__item-views.flex.jc-fs.ai-c
                  i
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512.001 512.001')
                      path(d='M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z')
                      path(d='M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z')
                  p 172
                a.p-blog__item-title(href='/blog/5types')
                  | 5 видов вкусного контента, который ждут читатели
            .blog__item.p-blog__item.above-viewport(data-in-viewport='i39')
              a.p-blog__item-img(href='/blog/5types')
                img(data-tilt data-tilt-max="3" data-tilt-perspective="1200" data-tilt-speed="200" src='/img/blog-item.jpg', alt='')
              .p-blog__item-tags.flex.fw-w.jc-fs.ai-s
                .tag.flex.ai-c.jc-c.blog-tag(data-val='smm')
                  p.tag-title SMM
                .tag.flex.ai-c.jc-c.blog-tag(data-val='marketing')
                  p.tag-title Маркетинг
              .p-blog__item-info
                .p-blog__item-date 21.12.2018
                .p-blog__item-views.flex.jc-fs.ai-c
                  i
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512.001 512.001')
                      path(d='M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z')
                      path(d='M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z')
                  p 172
                a.p-blog__item-title(href='/blog/5types')
                  | 5 видов вкусного контента, который ждут читатели
            .blog__item.p-blog__item.above-viewport(data-in-viewport='i39')
              a.p-blog__item-img(href='/blog/5types')
                img(data-tilt data-tilt-max="3" data-tilt-perspective="1200" data-tilt-speed="200" src='/img/blog-item.jpg', alt='')
              .p-blog__item-tags.flex.fw-w.jc-fs.ai-s
                .tag.flex.ai-c.jc-c.blog-tag(data-val='smm')
                  p.tag-title SMM
                .tag.flex.ai-c.jc-c.blog-tag(data-val='marketing')
                  p.tag-title Маркетинг
              .p-blog__item-info
                .p-blog__item-date 21.12.2018
                .p-blog__item-views.flex.jc-fs.ai-c
                  i
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512.001 512.001')
                      path(d='M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z')
                      path(d='M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z')
                  p 172
                a.p-blog__item-title(href='/blog/5types')
                  | 5 видов вкусного контента, который ждут читатели
            .blog__item.p-blog__item.above-viewport(data-in-viewport='i39')
              a.p-blog__item-img(href='/blog/5types')
                img(data-tilt data-tilt-max="3" data-tilt-perspective="1200" data-tilt-speed="200" src='/img/blog-item.jpg', alt='')
              .p-blog__item-tags.flex.fw-w.jc-fs.ai-s
                .tag.flex.ai-c.jc-c.blog-tag(data-val='smm')
                  p.tag-title SMM
                .tag.flex.ai-c.jc-c.blog-tag(data-val='marketing')
                  p.tag-title Маркетинг
              .p-blog__item-info
                .p-blog__item-date 21.12.2018
                .p-blog__item-views.flex.jc-fs.ai-c
                  i
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512.001 512.001')
                      path(d='M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z')
                      path(d='M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z')
                  p 172
                a.p-blog__item-title(href='/blog/5types')
                  | 5 видов вкусного контента, который ждут читатели
            .blog__item.p-blog__item.above-viewport(data-in-viewport='i39')
              a.p-blog__item-img(href='/blog/5types')
                img(data-tilt data-tilt-max="3" data-tilt-perspective="1200" data-tilt-speed="200" src='/img/blog-item.jpg', alt='')
              .p-blog__item-tags.flex.fw-w.jc-fs.ai-s
                .tag.flex.ai-c.jc-c.blog-tag(data-val='smm')
                  p.tag-title SMM
                .tag.flex.ai-c.jc-c.blog-tag(data-val='marketing')
                  p.tag-title Маркетинг
              .p-blog__item-info
                .p-blog__item-date 21.12.2018
                .p-blog__item-views.flex.jc-fs.ai-c
                  i
                    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512.001 512.001')
                      path(d='M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z')
                      path(d='M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z')
                  p 172
                a.p-blog__item-title(href='/blog/5types')
                  | 5 видов вкусного контента, который ждут читатели

          .btn__wrap
            //
            button.btn.p-blog__btn.btn--filled(type='submit')
              .btn__wrap-inner
                span.btn__wrap-text
                  | ПОКАЗАТЬ ЕЩЕ
                //





  include ../includes/_footer
  
