extends ../includes/_layout

block content
  - var isMain = false;
  include ../includes/_header

  block main
    main.center
      .p-portfolio
        .container
          .breadcrumbs
            ul.breadcrumbs__list.flex.jc-fs.fw-w.ai-s
              li
                a.nuxt-link-active(href='/') ART MARKS
              li
                | Портфолио
          .p-services__top
            .caption.caption--big.caption--services--visible
              .caption__inner.above-viewport(data-in-viewport='i9')
                p.caption__main Портфолио
                //
                .caption__content
                  p
                    | Любой может сделать из простого сложное. Мы умеем превратить сложное в простое. За 2 года мы создали более 300 приносящих прибыль проектов, каждый из которых был сделан внимательно, тщательно и с любовью.
          .p-portfolio__filters.flex.fw-w.ai-s.jc-c
            .select.p-portfolio__select.portfolio-direction
              select
                option(selected disabled) Направление работы
                option WEB разработка
                option SMM продвижение
                option SEO продвижение
            .select.p-portfolio__select
              select
                option(selected disabled) Тип проекта
                option Интернет магазин
                option Портал

          .p-portfolio__content
            .p-portfolio__wrapper.flex.fw-w.jc-sb.ai-s
              .s-portfolio__item.p-portfolio__item
                a.above-viewport(href='/portfolio/karree', data-in-viewport='i10')
                  .s-portfolio__item-overlay
                  .s-portfolio__item-img(style='background-image:url(/img/portfolio-1.jpg);')
                  .s-portfolio__item-inner.flex.fd-c.ai-s.jc-c
                    p.s-portfolio__item-title karree
                    .s-portfolio__item-info
                      p.s-portfolio__item-description интернет-магазин женской одежды
                      p.s-portfolio__item-category web
              .s-portfolio__item.p-portfolio__item
                a.above-viewport(href='/portfolio/lisoped', data-in-viewport='i11')
                  .s-portfolio__item-overlay
                  .s-portfolio__item-img(style='background-image:url(/img/portfolio-2.jpg);')
                  .s-portfolio__item-inner.flex.fd-c.ai-s.jc-c
                    p.s-portfolio__item-title lisoped
                    .s-portfolio__item-info
                      p.s-portfolio__item-description интернет-магазин женской одежды
                      p.s-portfolio__item-category web
              .s-portfolio__item.p-portfolio__item
                a.above-viewport(href='/portfolio/pets', data-in-viewport='i12')
                  .s-portfolio__item-overlay
                  .s-portfolio__item-img(style='background-image:url(/img/portfolio-3.jpg);')
                  .s-portfolio__item-inner.flex.fd-c.ai-s.jc-c
                    p.s-portfolio__item-title 4pets
                    .s-portfolio__item-info
                      p.s-portfolio__item-description интернет-магазин женской одежды
                      p.s-portfolio__item-category web
              .s-portfolio__item.p-portfolio__item
                a.above-viewport(href='/portfolio/mshop', data-in-viewport='i13')
                  .s-portfolio__item-overlay
                  .s-portfolio__item-img(style='background-image:url(/img/portfolio-4.jpg);')
                  .s-portfolio__item-inner.flex.fd-c.ai-s.jc-c
                    p.s-portfolio__item-title m1
                    .s-portfolio__item-info
                      p.s-portfolio__item-description интернет-магазин одежды
                      p.s-portfolio__item-category web
              //
              //
              //
            .btn__wrap
              //
              button.btn.p-portfolio__btn.btn--filled(type='submit')
                .btn__wrap-inner
                  span.btn__wrap-text
                    | ПОКАЗАТЬ ЕЩЕ
                  //
        section.s-discuss.p-services-category__discuss
          .container
            .s-discuss__wrapper
              form.form.discuss__project-form.s-discuss__form
                .caption.caption--centered.caption--services--visible
                  .caption__inner.above-viewport(data-in-viewport='i14')
                    p.caption__main обсудить проект
                    p.caption__additional Все крутые проекты начинаются с заполнения этой формы
                    //
                .form__inner.flex.ai-s.jc-sb
                  .form__inner-part
                    .form-input
                      .form-input__inner
                        //
                        input(placeholder='Имя', required='required', name='username', type='text', value='')
                        i.form-input__line
                        //
                      span.form-message
                    .form-input
                      .form-input__inner
                        //
                        input(placeholder='Телефон', required='required', name='userphone', type='tel', value='')
                        i.form-input__line
                        //
                      span.form-message
                    .form-input
                      .form-input__inner
                        //
                        input(placeholder='E-mail', required='required', name='useremail', type='email', value='')
                        i.form-input__line
                        //
                      span.form-message
                  .form__inner-part.flex.fd-c.jc-sb.ai-fs
                    .form-input.form-input--textarea
                      .form-input__inner
                        //
                        textarea(rows='1', placeholder='Опишите свою идею', required='required', name='usertext')
                        i.form-input__line
                        //
                      span.form-message
                    .form-input.form-input--file
                      .form-input__inner
                        //
                        label.flex.ai-fe.jc-fs(for='header-modal-file')
                          input#header-modal-file(type='file', placeholder='Добавить файл', name='userfile', multiple='multiple')
                          svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 20 22', xml:space='preserve', style='enable-background:new 0 0 20 22;')
                            path(d='M15.8,0c2.2,0,3.9,1.8,3.9,3.9c0,0.4-0.1,1.7-1.2,2.8l-8.5,8.5c-0.6,0.7-2.1,1.3-3.3,0.1c-1.2-1.2-0.6-2.7,0.1-3.3l4.4-4.4 L12,8.3l-3.2,3.2l0,0l-1.4,1.4l0,0c-1,1.2,0.6,2.9,2,1.6l8.4-8.4c0.7-0.7,0.9-1.4,0.9-2.2c0-1.6-1.3-2.9-2.9-2.9 c-0.8,0-1.5,0.3-2,0.8l0,0C13.2,2.4,2.3,13.3,2.3,13.4l0,0C1.5,14.2,1,15.3,1,16.5C1,19,3,21,5.5,21c0.6,0,1.8,0,3.5-1.7L19.3,9.1 L20,9.8L9.5,20.2c-1,1.1-2.4,1.8-4,1.8c-3,0-5.5-2.5-5.5-5.5c0-1.6,0.7-3,1.7-4C12.4,1.8,12.6,1.7,13,1.2C13.3,0.9,14.2,0,15.8,0')
                          span Добавить файл
                        //
                        //
                      span.form-message
                .btn__wrap
                  //
                  button.btn.s-discuss-btn.btn--filled(type='submit')
                    .btn__wrap-inner
                      span.btn__wrap-text
                        | ОТПРАВИТЬ
                      //




  include ../includes/_footer
  
